@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed&display=swap');


* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #333;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}

.topSect {
	height: 100%;
	background-image: url(../images/waterincup.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topSectTitle {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 150px;
	text-shadow: 1px 1px 2px black;
}

.sect {
	display: flex;
	justify-content: center;
	align-items: center;
}

.customSection {
	font-size: 18px;
}

.flexSection {
	display: flex;
	flex-wrap: wrap;

}

.left-side {
	flex: 1;
	background-color: #fff;
	padding: 50px;
}

.right-side {
	flex: 1;
	background-image: url(../images/kitchen.jpg);
	-webkit-background-size: cover;
	background-size: cover;
}

.subDivider {
	height: 30%;
	background-image: url(../images/calm.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.subTitle {
	color: white;
	text-transform: uppercase;
	font-family: 'Asap Condensed', sans-serif;
	font-size: 60px;
	text-align: center;
}

.midArticle {
	padding: 50px;
}

.subDividerTwo {
	height: 30%;
	background-image: url(../images/bottle.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}	

.left-half {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
	background-image: url(../images/clear-disposable-bottle-on-black-surface-1000084.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.right-half {
	padding: 30px;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	-o-flex: 1;
	flex: 1;
}

.footerDiv {
	width: 100%;
	background-color: #333;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;
}

p a {
	color: white;
	font-size: 12px;
}

p a:hover {
	color: white;
}

@media only screen and (max-width: 1350px) {
	.left-side {
		flex-basis: 100%;
	}
	.right-half {
		flex-basis: 100%;
	}

	.subTitle {
		font-size: 40px;
	}
}

@media only screen and (max-width: 1000px) {
	.topSectTitle {
		font-size: 100px;
	}

	.customSection {
		font-size: 14px;
	}

	.subTitle {
		font-size: 30px;
	}
}

@media only screen and (max-width: 600px) {
	.customSection {
		font-size: 12px;
	}

	.topSectTitle {
		font-size: 80px;
	}

	.subTitle {
		font-size: 25px;
	}
}

@media only screen and (max-width: 400px) {
	.topSectTitle {
		font-size: 60px;
	}
}

@media only screen and (max-width: 360px) {
	.subTitle {
		font-size: 20px;
	}
}