@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fafafa;
  color: rgb(0,0,0,0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	z-index: 99;
	list-style-type: none;
	position: fixed;
}

a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #333;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}

li a, .dbtn {
	display: inline-block;
	color: white;
	padding: 16px 18px;
	text-decoration: none;
}

li a:hover, .ddown:hover .dbtn {
	background-color: rgba(0,0,0,.5);
	text-decoration: none;
	color: white;
}

li .ddown {
	display: inline-block;
}

.ddown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
	z-index: 1;
}

.ddown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.ddown-content a:hover {
	background-color: rgba(0,0,0,.2);
}

.ddown:hover .ddown-content {
	display: block;
}


.topSection {
	background-image: url(../images/runningwater.jpg);
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topSectionTitle {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 150px;
	text-decoration: underline;
}

.sectOne {
	background-color: #333;
	height: 75%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}

.sectOneTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}


.customSection {

}

.sectTwo {
	height: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

