@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fafafa;
  color: rgb(0,0,0,0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	z-index: 99;
	list-style-type: none;
	position: fixed;
}

a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #333;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}

.topSection {
	background-image: url(../images/runningwater.jpg);
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topSectionTitle {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 150px;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black;
}

.sectOne {
	background-color: #333;
	height: 75%;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;

}

.sectionTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.sectTwo {
	height: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.customSection {
	font-size: 18px;
}

.sectThree {
	height: 75%;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.customParagraph {
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
}

.sectFour {
  background-image: url(../images/waterincup.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.columnOne, .columnTwo, .columnThree, .columnFour, .columnFive {
	background-color: rgba(0,0,0,.6);
	border-radius: 5px;
	padding: 30px;
}

.columnOne:hover, .columnTwo:hover, .columnThree:hover, .columnFour:hover, .columnFive:hover {
	background-color: rgba(0,0,0,.8);
}

.footerSection {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333;
	height: 20%;
	text-align: center;
}
.customFooter, p a {
	font-size: 10px;
	color: white;
}

p a:hover {
	text-decoration: none;
	color: white;
}

@media only screen and (max-width: 1216px) {
	.topSectionTitle {
		font-size: 100px;
	}

	.customSection {
		font-size: 14px;
	}

	.sectionTitle {
		font-size: 25px;
	}
}

@media only screen and (max-width: 714px) {
	.topSectionTitle {
		font-size: 80px;
	}

	.customSection {
		font-size: 12px;
	}

	.sectionTitle {
		font-size: 18px;
	}
}

@media only screen and (max-width: 526px) {
	.topSectionTitle {
		font-size: 60px;
	}

	.sectOne {
		height: 100%;
	}

	.sectTwo {
		height: 130%;
	}

	.topSection {
		height: 50%;
	}
}

@media only screen and (max-width: 500px) {
	.sectOne {
		height: 120%;
	}

	.sectTwo {
		height: 160%;
	}
}

@media only screen and (max-width: 414px) {
	.sectOne {
		height: 130%;
	}

	.sectTwo {
		height: 175%;
	}

	.topSectionTitle {
		font-size: 50px;
	}
}

@media only screen and (max-width: 385px) {
	.sectOne {
		height: 150%;
	}

	.sectTwo {
		height: 200%;
	}
}