@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #333;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}


.topSection {
	height: 100%;
	background-image: url(../images/runningwater.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topSectionTitle {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 150px;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectOne {
	height: 75%;
	background-color: #333;
	color: white;
}

.customSection, .customParagraph {
	font-size: 18px;
}

.sectionTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.sectTwo {
	height: 100%;
	background-color: white;

}

.sectThree {
	height: 75%;
	background-color: #333;
	color: white;
	
}

.customParagraph {
	font-family: 'Oswald', sans-serif;
}

.sectFour {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 20px;
	color: white;
	background-color: #fff;
}

span {
  	font-weight: 700;
  	text-transform: uppercase;
  	text-align: center;
}

.One, .Two, .Three, .Four, .Five {
	flex: 1;
	background-color: rgba(0,0,0,.6);
	margin: 20px;
	padding: 30px;
	border-radius: 5px;

}

.One:hover, .Two:hover, .Three:hover, .Four:hover, .Five:hover {
	background-color: rgba(0,0,0,.8);
}

.footer {
	width: 100%;
	background-color: #333;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;

}

p a {
	color: white;
	font-size: 12px;
}

p a:hover {
	color: white;
}

@media only screen and (max-width: 1350px) {
	.One, .Two, .Three, .Four, .Five {
		flex-basis: 25%;
	}
}

@media only screen and (max-width: 930px) {
	.One, .Two, .Three, .Four, .Five {
		flex-basis: 50%;
	}
}

@media only screen and (max-width: 1200px) {
	.sectOne {
		height: 85%;
	}

	.sectTwo {
		height: 110%;
	}
}

@media only screen and (max-width: 1100px) {
	.topSectionTitle {
		font-size: 100px;
	}
}

@media only screen and (max-width: 780px) {
	.sectTwo {
		height: 115%;
	}
}