@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #333;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}


.topSection {
	height: 100%;
	background-image: url(../images/runningwater.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topSectionTitle {
	color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 150px;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black;
}

.section {
	display: flex;
	justify-content: center;
	align-items: center;
}

.sectOne {
	height: 75%;
	background-color: #333;
	color: white;
}

.customSection, .customParagraph {
	font-size: 18px;
}

.sectionTitle {
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.sectTwo {
	height: 100%;
	background-color: white;

}

.sectThree {
	height: 75%;
	background-color: #333;
	color: white;
	
}

.customParagraph {
	font-family: 'Oswald', sans-serif;
}

.sectFour {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	margin: 20px;
	color: white;
	background-color: #fff;
}

span {
  	font-weight: 700;
  	text-transform: uppercase;
  	text-align: center;
}

.One, .Two, .Three, .Four, .Five {
	flex: 1;
	background-color: rgba(0,0,0,.6);
	margin: 20px;
	padding: 30px;
	border-radius: 5px;

}

.One:hover, .Two:hover, .Three:hover, .Four:hover, .Five:hover {
	background-color: rgba(0,0,0,.8);
}

.footer {
	width: 100%;
	background-color: #333;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
	font-size: 12px;

}

p a {
	color: white;
	font-size: 12px;
}

p a:hover {
	color: white;
}

@media only screen and (max-width: 1350px) {
	.One, .Two, .Three, .Four, .Five {
		flex-basis: 25%;
	}
}

@media only screen and (max-width: 930px) {
	.One, .Two, .Three, .Four, .Five {
		flex-basis: 50%;
	}
}

@media only screen and (max-width: 1200px) {
	.sectOne {
		height: 85%;
	}

	.sectTwo {
		height: 110%;
	}
}

@media only screen and (max-width: 1100px) {
	.topSectionTitle {
		font-size: 100px;
	}
}

@media only screen and (max-width: 811px) {
	.sectTwo {
		height: 115%;
	}
}

@media only screen and (max-width:787px) {
	.sectOne {
		height: 95%;
	}

	.sectTwo {
		height: 125%;
	}
}

@media only screen and (max-width: 720px) {
	.sectOne {
		height: 105%;
	}

	.sectTwo {
		height: 140%;
	}

	.topSectionTitle {
		font-size: 80px;
	}
}

@media only screen and (max-width: 645px) {
	.customSection, .customParagraph {
		font-size: 16px;
	}

	.sectionTitle {
		font-size: 25px;
	}	
}

@media only screen and (max-width: 540px) {
	.topSectionTitle {
		font-size: 70px;
	}

	.customSection, .customParagraph {
		font-size: 14px;
	}

	.sectionTitle {
		font-size: 20px;
	}

	.sectFour {
		font-size: 14px;
	}
}

@media only screen and (max-width: 460px) {
	.sectOne {
		height: 115%;
	}

	.sectTwo {
		height: 155%;
	}

	.sectThree {
		height: 85%;
	}

	.topSectionTitle {
		font-size: 60px;
	}
}

@media only screen and (max-width: 425px) {
	.sectOne {
		height: 125%;
	}

	.sectTwo {
		height: 170%;
	}

	.sectThree {
		height: 95%;
	}
}

@media only screen and (max-width: 395px) {
	.sectOne {
		height: 135%;
	}

	.sectTwo {
		height: 185%;
	}

	.sectThree {
		height: 105%;
	}

	.topSectionTitle {
		font-size: 50px;
	}
}

@media only screen and (max-width: 365px) {
	.customSection, .customParagraph, .sectFour {
		font-size: 12px;
	}

	.sectionTitle {
		font-size: 18px;
	}
}

@media only screen and (max-height: 640px) {
	.sectOne {
		height: 145%;
	}

	.sectTwo {
		height: 200%;
	}

	.footer {
		font-size: 10px;
	}

	.sectThree {
		height: 110%;
	}

	p a {
		font-size: 10px;
	}

	.topSectionTitle {
		font-size: 50px;
	}
}

@media only screen and (max-height: 360px) {
	.customSection, .customParagraph, .sectFour {
		font-size: 12px;
	}

	.sectionTitle {
		font-size: 18px;
	}

	.sectOne {
		height: 155%;
	}

	.sectTwo {
		height: 210%;
	}

	.sectThree {
		height: 125%;
	}
}

@media only screen and (max-height: 1366px) {
	.sectOne {
		height: 60%;
	}

	.sectTwo {
		height: 80%;
	}

	.sectThree {
		height: 50%;
	}
}

@media only screen and (max-height: 1280px) {
	.sectOne {
		height: 80%;
	}

	.sectTwo {
		height: 100%;
	}

	.sectThree {
		height: 60%;
	}
}



@media only screen and (max-height: 896px) {
	.sectOne {
		height: 125%;
	}

	.sectTwo {
		height: 170%;
	}

	.sectThree {
		height: 95%;
	}
}

@media only screen and (max-height: 846px) {
	.sectTwo {
		height: 175%;
	}
}

@media only screen and (max-height: 834px) {
	.sectTwo {
		height: 115%;
	}
}

@media only screen and (max-height: 812px) {
	.sectOne {
		height: 160%;
	}

	.sectTwo {
		height: 210%;
	}

	.sectThree {
		height: 120%;
	}
}

@media only screen and (max-height: 800px) {
	.sectOne {
		height: 90%;
	}

	.sectTwo {
		height: 120%;
	}

	.sectThree {
		height: 70%;
	}
}

@media only screen and (max-height: 768px) {
	.sectOne {
		height: 95%;
	}

	.sectTwo {
		height: 130%;
	}
}

@media only screen and (max-height: 736px) {
	.sectOne {
		height: 150%;
	}

	.sectTwo {
		height: 210%;
	}

	.sectThree {
		height: 120%;
	}
}

@media only screen and (max-height: 667px) {
	.sectOne {
		height: 190%;
	}

	.sectTwo {
		height: 250%;
	}

	.sectThree {
		height: 140%;
	}
}

@media only screen and (max-height: 414px) {
	.customSection, .customParagraph, .sectFour {
		font-size: 14px;
	}

	.sectionTitle {
		font-size: 20px;
	}

	.sectTwo {
		height: 
	}
}

@media only screen and (max-height: 740px) {
	footer {
		font-size: 10px;
	}

	p a {
		font-size: 10px;
	}
}