@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	text-decoration: none;
  	margin-bottom: 0;
  	padding-bottom: 0;
}

html, body {
	height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #fafafa;
  color: rgb(0,0,0,0.8);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	z-index: 99;
	list-style-type: none;
	position: fixed;
}

a {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  color: #333;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 12.5px;
}

li a, .dbtn {
	display: inline-block;
	color: white;
	padding: 16px 18px;
	text-decoration: none;
}

li a:hover, .ddown:hover .dbtn {
	background-color: rgba(0,0,0,.5);
	text-decoration: none;
	color: white;
}

li .ddown {
	display: inline-block;
}

.ddown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
	z-index: 1;
}

.ddown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.ddown-content a:hover {
	background-color: rgba(0,0,0,.2);
}

.ddown:hover .ddown-content {
	display: block;
}

.topSect {
	background-image: url(../images/tap.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.borderBackground {
	padding: 50px;
	background-color: rgba(0,0,0,.2);
	border-radius: 10px;
}

.topTitle {
	text-shadow: 3px 3px 7px rgba(0,0,0,.61);
	color: white;
	font-size: 60px;
	font-family: 'Nunito', sans-serif;
	font-weight: bolder;
}

.subTitle {
	text-shadow: 3px 3px 7px rgba(0,0,0,.61);
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	font-weight: bolder;
	color: white;

}

.topButton {
	text-align: center;
	padding: 10px;
	font-weight: 700;
	text-transform: uppercase;
}

.subSection {
	height: 50%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;

}

.firstSection {
	font-size: 18px;


}

.firstSectionTitle {
	color: #2e64ab;
  	font-family: "Helvetica", sans-serif;
  	text-transform: uppercase;
  	font-size: 20px;
}


.sect {
	height: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: none;
}

.left-half {
	background-image: url(../images/hand.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
}

.right-half {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	font-size: 18px;
}

.sectOne {
	height: 100%;
}

.sectTwo {
	background-image: url(../images/bottle.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;

}

.footer {
	height: 20%;
	background-color: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.footerText {
	position: absolute;
	bottom: 10%;
}

.footerText, .footerText a {
	color: white;
	text-align: center;
	font-size: 12px;
}

.footerText a {
	text-decoration: none;
}

.footerText a:hover {
	text-decoration: none;

}


@media screen and (max-width: 1400px) {
	.footerText{
		font-size: 10px;
	}

	.footerText a {
		font-size: 10px;
	}

}

@media only screen and (max-width: 500px) {
	li a {
		font-size: 8px;
	}
}

@media only screen and (max-width: 760px) {
	.left-half {
		height: 50%;
	}
}

@media only screen and (max-width: 760px) {
	.topTitle {
		font-size: 30px;
	}

	.subTitle {
		font-size: 20px;
	}
}

@media only screen and (max-width: 580px) {
	.firstSection {
		font-size: 12px;
	}

	.firstSectionTitle {
		font-size: 14px;
	}
}

@media only screen and (max-width: 580px) {
	.right-half {
		font-size: 12px;
	}
}

@media only screen and (max-width: 900px) {
	.subSection .firstSection {
		height: 75%;
	}
}




